@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {

    --background: 0.00 0.00% 100.00%;
    --foreground: 222.86 41.18% 3.33%;
    
    --primary: 224.31 38.92% 32.75%;
    --primary-foreground: 230.00 17.65% 93.33%;
    
    --card: 220.00 17.65% 96.67%;
    --card-foreground: 222.86 41.18% 3.33%;
    
    --popover: 0.00 0.00% 100.00%;
    --popover-foreground: 222.86 41.18% 3.33%;
    
    --secondary: 222.00 19.23% 89.80%;
    --secondary-foreground: 0.00 0.00% 0.00%;
    
    --muted: 230.00 17.65% 93.33%;
    --muted-foreground: 0.00 0.00% 40.00%;
    
    --accent: 230.00 17.65% 93.33%;
    --accent-foreground: 226.67 36.00% 4.90%;
    
    --destructive: 0.00 84.24% 60.20%;
    --destructive-foreground: 210.00 40.00% 98.04%;
    
    --border: 221.54 18.84% 86.47%;
    
    --input: 225.00 7.55% 79.22%;
    
    --ring: 224.31 38.92% 32.75%;
    
    --chart-1: 224.31 38.92% 32.75%;
    --chart-2: 224.73 25.11% 42.94%;
    --chart-3: 224.65 19.28% 56.27%;
    --chart-4: 225.00 19.15% 63.14%;
    --chart-5: 223.45 18.71% 69.61%;
    
    --sidebar: 240.00 14.29% 98.63%;
    --sidebar-foreground: 222.86 41.18% 3.33%;
    --sidebar-primary: 224.31 38.92% 32.75%;  
    --sidebar-primary-foreground: 230.00 17.65% 93.33%;
    --sidebar-accent: 224.31 38.92% 32.75%;
    --sidebar-accent-foreground: 230.00 17.65% 93.33%;  
    --sidebar-border: 221.54 18.84% 86.47%;
    --sidebar-ring: 224.31 38.92% 32.75%;
    
    --radius: 0.5rem;
        
  }

  .dark {

    
    --background: 240.00 1.23% 15.88%;
    --foreground: 222.00 19.23% 89.80%;
    
    --primary: 224.31 38.92% 32.75%;
    --primary-foreground: 230.00 17.65% 93.33%;
    
    --card: 240.00 3.70% 15.88%;
    --card-foreground: 222.00 19.23% 89.80%;
    
    --popover: 240.00 1.23% 15.88%;
    --popover-foreground: 222.00 19.23% 89.80%;
    
    --secondary: 224.35 38.98% 11.57%;
    --secondary-foreground: 0.00 0.00% 100.00%;
    
    --muted: 0.00 0.00% 9.80%;
    --muted-foreground: 0.00 0.00% 50.20%;
    
    --accent: 224.35 38.98% 11.57%;
    --accent-foreground: 222.00 19.23% 89.80%;
    
    --destructive: 0.00 84.24% 60.20%;
    --destructive-foreground: 210.00 40.00% 98.04%;
    
    --border: 221.54 39.39% 6.47%;
    
    --input: 220.00 5.66% 10.39%;
    
    --ring: 224.31 38.92% 32.75%;
    
    --chart-1: 224.31 38.92% 32.75%;
    --chart-2: 223.93 39.44% 27.84%;
    --chart-3: 224.29 38.89% 21.18%;
    --chart-4: 225.00 39.13% 18.04%;
    --chart-5: 223.45 38.67% 14.71%;
    
    --sidebar: 240.00 3.03% 6.47%;
    --sidebar-foreground: 222.00 19.23% 89.80%;
    --sidebar-primary: 224.31 38.92% 32.75%;  
    --sidebar-primary-foreground: 230.00 17.65% 93.33%;
    --sidebar-accent: 224.31 38.92% 32.75%;
    --sidebar-accent-foreground: 230.00 17.65% 93.33%;  
    --sidebar-border: 221.54 39.39% 6.47%;
    --sidebar-ring: 224.31 38.92% 32.75%;
    
    --radius: 0.5rem;
          
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
